<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="vnd.android.cursor.dir/email" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Kamera-Berechtigung -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Berechtigungen für den Zugriff auf Medien -->
    <!-- Für Android 12L (API-Level 32) und niedriger -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Für Android 13 (API-Level 33) und höher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Für Android 14 (API-Level 34) und höher -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/remitexcontainerappicon192"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FahrernummerEingabe"
        tools:targetApi="31">

        <!-- FileProvider für Dateien -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Activities -->
        <activity
            android:name=".ReExportActivity"
            android:exported="false"
            android:label="@string/title_activity_re_export"
            android:theme="@style/Theme.FahrernummerEingabe" />
        <activity
            android:name=".ExportActivity"
            android:exported="false"
            android:label="@string/title_activity_export"
            android:theme="@style/Theme.FahrernummerEingabe" />
        <activity
            android:name=".ContainerErfassungActivity"
            android:exported="false"
            android:theme="@style/Theme.FahrernummerEingabe" />
        <activity
            android:name=".FahrernummerEingabeActivity"
            android:exported="true"
            android:theme="@style/Theme.FahrernummerEingabe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
